In [1]:
import pandas as pd
import os, sy

In [18]:
# initial directory
cwd = os.getcwd()
zircolite_dir_path = "/home/boyer/3a/data_protection/Zircolite/"

#for file in os.listdir("json"):
    #pd.read_json("json/"+file,lines=True)

In [3]:
df = pd.read_json("json/"+os.listdir("json")[0],lines=True)
df

,raw,sourcetype,source,time,host
0,Jun 9 12:02:28 n35-vm3 snoopy[1253018]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
1,Jun 9 12:02:28 n35-vm3 snoopy[1253017]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
2,Jun 9 12:02:28 n35-vm3 snoopy[1253016]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
3,Jun 9 12:02:28 n35-vm3 snoopy[1253013]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
4,Jun 9 12:02:28 n35-vm3 snoopy[1253012]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
...,...,...,...,...,...
1216218,node=n35-vm3 type=PATH msg=audit(1623015540.38...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
1216219,node=n35-vm3 type=PATH msg=audit(1623015540.38...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
1216220,node=n35-vm3 type=PATH msg=audit(1623154916.25...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
1216221,node=n35-vm3 type=PATH msg=audit(1623154916.24...,linux_audit,/var/log/audit/audit.log,2015-12-26 08:02:00.000 UTC,n35-vm3
1216222,node=n35-vm3 type=PATH msg=audit(1623154916.24...,linux_audit,/var/log/audit/audit.log,2015-12-26 08:02:00.000 UTC,n35-vm3

In [10]:
df_syslog = df[df["sourcetype"] == "syslog"].reset_index().drop(axis=1, columns = ["index"])
df_syslog

,raw,sourcetype,source,time,host
0,Jun 9 12:02:28 n35-vm3 snoopy[1253018]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
1,Jun 9 12:02:28 n35-vm3 snoopy[1253017]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
2,Jun 9 12:02:28 n35-vm3 snoopy[1253016]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
3,Jun 9 12:02:28 n35-vm3 snoopy[1253013]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
4,Jun 9 12:02:28 n35-vm3 snoopy[1253012]: [logi...,syslog,/var/log/auth.log,2021-06-09 12:02:28.000 UTC,n35-vm3
...,...,...,...,...,...
624477,May 30 21:50:35 n35-vm1 snoopy[1138]: [uid:0 s...,syslog,/var/log/auth.log,2021-05-30 21:50:35.000 UTC,n35-vm1
624478,May 30 21:50:35 n35-vm1 snoopy[1137]: [uid:0 s...,syslog,/var/log/auth.log,2021-05-30 21:50:35.000 UTC,n35-vm1
624479,May 30 21:50:35 n35-vm1 snoopy[1136]: [uid:0 s...,syslog,/var/log/auth.log,2021-05-30 21:50:35.000 UTC,n35-vm1
624480,May 30 21:50:35 n35-vm1 snoopy[1135]: [uid:0 s...,syslog,/var/log/auth.log,2021-05-30 21:50:35.000 UTC,n35-vm1
624481,May 30 21:50:35 n35-vm1 snoopy[1134]: [uid:0 s...,syslog,/var/log/auth.log,2021-05-30 21:50:35.000 UTC,n35-vm1

In [11]:
df_linux_audit = df[df["sourcetype"] == "linux_audit"].reset_index().drop(axis=1, columns = ["index"])
df_linux_audit

,raw,sourcetype,source,time,host
0,node=n35-vm3 type=UNKNOWN[1333] msg=audit(1623...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:02:22.060 UTC,n35-vm3
1,node=n35-vm3 type=PROCTITLE msg=audit(16232401...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:42.011 UTC,n35-vm3
2,node=n35-vm3 type=SYSCALL msg=audit(1623240102...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:42.011 UTC,n35-vm3
3,node=n35-vm3 type=UNKNOWN[1333] msg=audit(1623...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:22.059 UTC,n35-vm3
4,node=n35-vm3 type=UNKNOWN[1333] msg=audit(1623...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:22.059 UTC,n35-vm3
...,...,...,...,...,...
465854,node=n35-vm3 type=PATH msg=audit(1623015540.38...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
465855,node=n35-vm3 type=PATH msg=audit(1623015540.38...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
465856,node=n35-vm3 type=PATH msg=audit(1623154916.25...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
465857,node=n35-vm3 type=PATH msg=audit(1623154916.24...,linux_audit,/var/log/audit/audit.log,2015-12-26 08:02:00.000 UTC,n35-vm3
465858,node=n35-vm3 type=PATH msg=audit(1623154916.24...,linux_audit,/var/log/audit/audit.log,2015-12-26 08:02:00.000 UTC,n35-vm3

In [12]:
def remove_node(string):
    return "type" + string.split("type")[1]

df_linux_audit["raw"] = df_linux_audit["raw"].apply(remove_node)
df_linux_audit

,raw,sourcetype,source,time,host
0,type=UNKNOWN[1333] msg=audit(1623240142.060:16...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:02:22.060 UTC,n35-vm3
1,type=PROCTITLE msg=audit(1623240102.011:168970...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:42.011 UTC,n35-vm3
2,type=SYSCALL msg=audit(1623240102.011:168970):...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:42.011 UTC,n35-vm3
3,type=UNKNOWN[1333] msg=audit(1623240082.059:16...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:22.059 UTC,n35-vm3
4,type=UNKNOWN[1333] msg=audit(1623240082.059:16...,linux_audit,/var/log/audit/audit.log,2021-06-09 12:01:22.059 UTC,n35-vm3
...,...,...,...,...,...
465854,type=PATH msg=audit(1623015540.383:122715): it...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
465855,type=PATH msg=audit(1623015540.383:122715): it...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
465856,type=PATH msg=audit(1623154916.252:151227): it...,linux_audit,/var/log/audit/audit.log,2015-12-27 08:02:00.000 UTC,n35-vm3
465857,type=PATH msg=audit(1623154916.248:151226): it...,linux_audit,/var/log/audit/audit.log,2015-12-26 08:02:00.000 UTC,n35-vm3
465858,type=PATH msg=audit(1623154916.248:151226): it...,linux_audit,/var/log/audit/audit.log,2015-12-26 08:02:00.000 UTC,n35-vm3

In [13]:
df_linux_audit.to_csv("test.log", header=None, index=False, sep=' ', mode='w')

In [20]:
os.chdir(zircolite_dir_path)

In [22]:
!python3 zircolite.py --events ../dataset/jut\ system/test.log --ruleset rules/rules_linux.json --auditd

    ███████╗██╗██████╗  ██████╗ ██████╗ ██╗     ██╗████████╗███████╗
    ╚══███╔╝██║██╔══██╗██╔════╝██╔═══██╗██║     ██║╚══██╔══╝██╔════╝
      ███╔╝ ██║██████╔╝██║     ██║   ██║██║     ██║   ██║   █████╗
     ███╔╝  ██║██╔══██╗██║     ██║   ██║██║     ██║   ██║   ██╔══╝
    ███████╗██║██║  ██║╚██████╗╚██████╔╝███████╗██║   ██║   ███████╗
    ╚══════╝╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═════╝ ╚══════╝╚═╝   ╚═╝   ╚══════╝
   -= Standalone SIGMA Detection tool for EVTX/Auditd/Sysmon Linux =-

[+] Checking prerequisites
[+] Extracting EVTX Using 'tmp-6UW3O8GG' directory
100%|█████████████████████████████████████████████| 1/1 [00:06<00:00,  6.31s/it]
[+] Processing EVTX
100%|█████████████████████████████████████████████| 1/1 [00:27<00:00, 27.71s/it]
[+] Creating model
[+] Inserting data
100%|████████████████████████████████| 465859/465859 [00:32<00:00, 14469.23it/s]
[+] Cleaning unused objects
[+] Loading ruleset from : rules/rules_linux.json
[+] Executing ruleset - 116 rules
    - Program Executions in Suspicious Folders [medium] : 1 events/s]
    - System Information Discovery [informational] : 2 events.19it/s]
    - Data Compressed [low] : 29 events                     4.20it/s]
    - Suspicious C2 Activities [medium] : 115 events        3.57it/s]
    - System Information Discovery [low] : 126 events       2.51it/s]
    - File or Folder Permissions Change [low] : 21 events   0.71it/s]
    - Modification of ld.so.preload [high] : 34 events      0.39it/s]
100%|█████████████████████████████████████████| 116/116 [00:04<00:00, 26.74it/s]
[+] Results written in : detected_events.json
[+] Cleaning

Finished in 70 seconds

In [28]:
df_detected = pd.read_json("detected_events.json")
df_detected

,title,id,description,sigmafile,sigma,rule_level,tags,count,matches
0,Program Executions in Suspicious Folders,a39d7fa7-3fbd-4dc2-97e1-d87f546b1bbc,Detects program executions in suspicious non-p...,lnx_auditd_susp_exe_folders.yml,[SELECT * FROM logs WHERE (type = 'SYSCALL' AN...,medium,"[attack.t1587, attack.t1584, attack.resource_d...",1.0,"[{'row_id': 332010, 'type': 'SYSCALL', 'timest..."
1,System Information Discovery,1f358e2e-cb63-43c3-b575-dfb072a6814f,Detects system information discovery commands,lnx_auditd_system_info_discovery2.yml,[SELECT * FROM logs WHERE (type = 'PATH' AND (...,informational,"[attack.discovery, attack.t1082]",2.0,"[{'row_id': 127486, 'type': 'PATH', 'timestamp..."
2,Data Compressed,a3b5e3e9-1b49-4119-8b8e-0344a01f21ee,"An adversary may compress data (e.g., sensitiv...",lnx_auditd_data_compressed.yml,[SELECT * FROM logs WHERE ((type = 'execve' AN...,low,"[attack.exfiltration, attack.t1560.001]",29.0,"[{'row_id': 13006, 'type': 'EXECVE', 'timestam..."
3,Suspicious C2 Activities,f7158a64-6204-4d6d-868a-6e6378b467e0,Detects suspicious activities as declared by F...,lnx_auditd_susp_c2_commands.yml,[SELECT * FROM logs WHERE key LIKE 'susp\_acti...,medium,[attack.command_and_control],115.0,"[{'row_id': 15205, 'type': 'SYSCALL', 'timesta..."
4,System Information Discovery,f34047d9-20d3-4e8b-8672-0a35cc50dc71,Detects System Information Discovery commands,lnx_auditd_system_info_discovery.yml,[SELECT * FROM logs WHERE ((type = 'PATH' AND ...,low,"[attack.discovery, attack.t1082]",126.0,"[{'row_id': 9592, 'type': 'EXECVE', 'timestamp..."
5,File or Folder Permissions Change,74c01ace-0152-4094-8ae2-6fd776dd43e5,Detects file and folder permission changes.,lnx_auditd_file_or_folder_permissions.yml,[SELECT * FROM logs WHERE (type = 'EXECVE' AND...,low,"[attack.defense_evasion, attack.t1222.002]",21.0,"[{'row_id': 11636, 'type': 'EXECVE', 'timestam..."
6,Modification of ld.so.preload,4b3cb710-5e83-4715-8c45-8b2b5b3e5751,Identifies modification of ld.so.preload for s...,lnx_auditd_ld_so_preload_mod.yml,[SELECT * FROM logs WHERE (type = 'PATH' AND n...,high,"[attack.defense_evasion, attack.t1574.006]",34.0,"[{'row_id': 38496, 'type': 'PATH', 'timestamp'..."
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
type(df_detected["matches"][0])
for match in df_detected["matches"][0]:
    print(type(match))
    print(match)
    print(match["row_id"])

<class 'dict'>
{'row_id': 332010, 'type': 'SYSCALL', 'timestamp': '2021-06-02 18:16:58', 'host': 'offline', 'OriginalLogfile': 'test.log-A6SQUBYF.json', 'arch': 'c000003e', 'syscall': '59', 'success': 'yes', 'exit': '0', 'a0': '7fbcd1fd6948', 'a1': '7fbcd1fd6970', 'a2': '7fbcd1fd6a88', 'a3': '7fffff5daf30', 'items': '1', 'ppid': '2509', 'pid': '2515', 'auid': '4294967295', 'uid': '0', 'gid': '0', 'euid': '0', 'suid': '0', 'fsuid': '0', 'egid': '0', 'sgid': '0', 'fsgid': '0', 'tty': '(none)', 'ses': '4294967295', 'comm': 'wwBsh', 'exe': '/tmp/wwBsh', 'key': 'rootcmd', 'per': '400000'}
332010